
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View_Updated</title>
</head>
<body>
    <div align="center"> 
        <h1>
            Employee Details Updatesd Successfully
            <br />
            @Html.ActionLink("Go Back", "Search", "Employees")
        </h1> 
    </div>
</body>
</html>
